.loader-container {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-container {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.offer-image {
  width: 100%;
  border-radius: 8px;
  height: 350px;
}
.slick-dots {
  bottom: 20px;
}
.custom-dots li button:before {
  color: #ffffff !important;
  opacity: 0.5;
  font-size: 7px;
}

.custom-dots li.slick-active button:before {
  color: #ffffff !important;
  opacity: 1;
  font-size: 10px;
}
@media screen and (max-width: 767px) {
  .loader-container {
    height: 220px;
  }
  .carousel-container {
    margin: 0px;
  }
  .offer-image {
    height: 220px;
    border-radius: 0px;
  }
}
